<h2>Pledged funds <span><%= @project.pledged_funds %></span></h2>


<ul id="pledge">
  <li><%= link_to 'Pledge', new_project_pledge_path(@project) unless current_user.has_funded?(@project) || @project.fully_funded?%></li>
</ul>
